
/**
 * Geekode php (http://geekode.net/)
 * @link    https://github.com/remicioluis/geekcode_php
 * @author  Luis Remicio @remicioluis (https://twitter.com/remicioluis)
 * @version 2.0
 */
 
gris_claro = #818181
gris_fondo = #3d4044
gris_oscuro = #333333

body
    background-color gris_claro
    font-family 'Varela Round', sans-serif
    font-size 16px

.Header
    margin-top 10%
    text-align center
    .logo
        color gris_oscuro
        font-size 6em
.error
    text-align center
    .error-404
        color white
        font-size 6em
        margin 0
    .info
        color white
        font-size 0
    .info-icon
        display inline-block
        font-size 1.5rem
        vertical-align middle
    .info-texto
        display inline-block
        font-size 1rem
        vertical-align middle