
@import 'nib'

/**
 * Geekode php (http://geekode.net/)
 * @link    https://github.com/remicioluis/geekcode_php
 * @author  Luis Remicio @remicioluis (https://twitter.com/remicioluis)
 * @version 2.0
 */
 

gris_claro = #818181
gris_fondo = #3d4044
red_fondo = #E43131
white_fondo = #fff
gris_oscuro = #333333
green_status = #16a765
blue_status = #12aadf

body
    background-color gris_fondo !important
    font-family 'Varela Round', sans-serif
    font-size 16px

.Header
    background-color #CCCACA
    height 55px
    position relative
    width auto
    .logo
        background url('/images/front/logo_urbano.png') no-repeat
        height 45px
        left 2px
        position absolute 
        top 5px
        width 145px
    .flag
        background url('/images/front/flag-pe.png') no-repeat
        bottom 10px
        height 14px
        left 150px
        position absolute
        width 21px
    .sistemas
        bottom 0
        height 30px
        left 180px
        position absolute
        width 150px
    .menu
        bottom 0
        height 26px
        left 355px
        overflow hidden
        position absolute
        right 0 
        width auto
    .usuario
        position absolute
        right 50px
        top 2px

        .user_profile
            cursor pointer
            display inline-block
            margin-right 2px
            vertical-align middle

        .tit_usuario
            color gris_fondo
            display inline-block
            font-family 'Varela Round', sans-serif
            font-size .9em
            font-weight bold
            vertical-align middle

        .nom_usuario
            color gris_oscuro
            display inline-block
            font-size 1em
            vertical-align middle

    .exit
        background url('/images/front/exit.png') no-repeat
        cursor pointer
        height 15px
        position absolute
        right 2px
        top 0
        width 37px

.Footer
    background-color gris_oscuro
    border-radius 0 0 2px 2px
    height 38px
    position relative
    .creditos
        padding-top 3px
        p
            margin 0 !important
            text-align center

            span
                color gris_claro
                display block
                font-family 'Varela Round', sans-serif
                font-size .8em
    .sello_izq
        background url('/images/front/sello_footer.png') no-repeat
        height 24px
        left 2px
        position absolute
        top 2px
        width 96px

    .sello_der
        background url('/images/front/sello_footer.png') no-repeat
        height 24px
        position absolute
        right 2px
        top 2px
        width 96px

.transparent
    background transparent !important
    
.white_fondo
    background white_fondo !important
    

.menuAlign_cmp
    background transparent !important
    position absolute
    padding 20px
    
.form_user
    background transparent !important
    padding 10px 5px 0px 0px
    
.gb_H 
    background #fff
    border 1px solid #ccc
    border-color rgba(0,0,0,.2)
    -webkit-box-shadow 0 2px 10px rgba(0,0,0,.2)
    box-shadow 0 2px 10px rgba(0,0,0,.2)
    display none
    outline none
    overflow hidden
    position absolute
    right 0
    top 44px
    -webkit-animation gb__a .2s
    animation gb__a .2s
    -webkit-border-radius 2px
    border-radius 2px
    -webkit-user-select text

    
.icon_cmp
    background transparent !important
    opacity 1
    -webkit-user-drag none
    

.icon_cmp:hover 
    opacity 0.60

.cls_age
    font-family 'Varela Round', sans-serif
    font-size 9px
    font-weight bold
    display inline-block
    height 20px
    padding-top 5px
    border-radius 0.25em
.cls_age_a
    display inline-block
    opacity 1
    height 20px
    width 20px
    color #fff//red_fondo
    background url('/images/icon/map-marker-24.png') no-repeat
    background-size 20px 20px
    
.cls_age_b
    font-family 'Varela Round', sans-serif
    font-size 9px
    font-weight bold
    display inline-block
    opacity 1
    height 20px
    color #fff
    
#sts_novedad
    display inline-block
    height 30px
    
.cls_nv_
    margin-top 1px
.cls_nv
.cls_nv_altr
    position relative
    font-family 'Varela Round', sans-serif
    font-size 9px
    font-weight bold
    display inline-block
    padding-top 5px
    height 20px
    border-radius 0.25em 0.25em
    
 .cls_nv:after
    content "" 
    display block
    width 0
    height 0
    border-top 5px solid #fff //#000
    border-right 5px solid transparent
    border-left 5px solid transparent
    position absolute
    left 50%
    bottom -4px
    margin-left -5px
    
 .cls_nv_altr:after
    content "" 
    display block
    width 0
    height 0
    border-right 5px solid transparent
    border-left 5px solid transparent
    position absolute
    left 50%
    bottom -4px
    margin-left -5px


 .cls_nv_altr:after
     border-top 5px solid red_fondo//white_fondo

#panel-1015-body
#panel-1015
    overflow visible
        
.cls_nv
    color #000//red_fondo
    background #fff//#000
    padding 4px 8px 0px 8px
    
.cls_nv_altr
    color #fff//red_fondo
    background red_fondo//white_fondo
    padding 4px 6px 0px 6px
    
.visible-menu
    //visibility block

.cmp_contn
    width auto !important
    left 0 !important
    right 0 !important
    
#cmp_clk
    position fixed
    z-index 19001
    
#menu_split
    width  0px
    bottom 0px
    position fixed
    z-index 19000
    left 0px
    top 0px
    
    
.cmp_menu
    background transparent !important
    position absolute
    z-index 19000
    margin 0px
    width 0px
    right auto
    bottom 0px
    height 100%
    padding-top 40px
    //box-shadow 5px 0 5px #999
    box-shadow 3px 43px 7px rgba(0, 0, 0, 0.5)


        
.eL.HKpYid 
    -webkit-transform translateX(0)
    transform translateX(0)
    
.databox_list_menu_select
    background white_fondo !important
    
.red_bg
    //background red_fondo !important
    
.logo_init
    background url('/images/front/logo_madison_bc.png') no-repeat
    margin 6px 0px 0px 5px
    height 40px
    width 120px

.az 
    background-image url('/images/front/ic_menu_wht_1x.png')
    background-position center center
    background-repeat no-repeat
    background-size 24px
    display inline-block
    height 24px
    opacity 1
    padding 20px 24px
    width 24px
    -webkit-user-drag none

.az:hover 
    opacity 0.75
    
.ef:focus, .dS:focus, .ig:focus 
    outline none
    
.ef::before, .dS::before, .ig::before 
    border-radius 50%
    top -4px
    left -4px
    bottom -4px
    right -4px
    margin auto
    padding 4px
    position absolute
    content ' '
    
.dS, .dS::before 
    background-size 24px 24px
    height 24px
    width 24px
    
.ef, .dS, .ig 
    background-color transparent
    background-repeat no-repeat
    border none
    box-sizing content-box
    position relative
    -webkit-user-drag none

.ef:focus::before, .dS:focus::before, .ig:focus::before, .ag>.ef::before, .ag>.dS::before, .ag>.ig::before, .ag.ef::before, .ag.dS::before, .ag.ig::before 
    background-color rgba(0,0,0,.1)

.combo_3
    background transparent !important
    color gris_claro !important
    font-family 'Varela Round', sans-serif !important
    font-size 1.7em !important
    height 28px !important
    margin-left 5px !important

.combo_4
    border-left 2px solid gris_claro !important
    width 155px

.combo_5
    background-image none !important
    border none !important
    margin-top 5px
    padding 2px 0
    vertical-align middle !important
    &:before
        color gris_claro
        content "\f107"
        font-family 'weburbano'
        font-size 2em

.fondo_principal
    background-image linear-gradient(top,#ffffff,#ffffff)
    display table
    height 100%
    left 0
    position absolute
    top 0
    width 100%
    left 0 !important
    right 0 !important
    
    .nX
        display table-cell
        vertical-align middle
        
        .oP
            margin 0 auto
            text-align center
            max-width 280px
            
            .j
                background-image url('/images/front/madison_bg.png')
                background-size 355px 190px
                width 355px
                height 190px
                opacity 0.8
                display inline-block
                
            
                /*display inline-block*/

.controls 
    margin-top 16px
    border 1px solid transparent
    border-radius 2px 0 0 2px
    box-sizing border-box
    -moz-box-sizing border-box
    height 32px
    outline none
    box-shadow 0 2px 6px rgba(0, 0, 0, 0.3)
    position absolute;
    top 12px
    left 100px
    z-index 2;
    /*visibility hidden;*/


#pac-input 
    background-color #fff
    padding 0 11px 0 13px
    width 350px
    font-family Roboto
    font-size 15px
    font-weight 300
    text-overflow ellipsis


#pac-input:focus 
    border-color #4d90fe
    margin-left -1px
    padding-left 14px
    width 351px


.pac-container 
    font-family Roboto


#type-selector 
    color #fff
    background-color #4d90fe
    padding 5px 11px 0px 11px


#type-selector label 
    font-family Roboto
    font-size 13px
    font-weight 300

.upload-icon
    background transparent url('/images/icon/upload_reg.ico') 0 0 no-repeat !important  
    

.databox_list_menu 
    background #fff
    font-size 13px
    color #333
    //border 1px solid #e3e3e3
    padding 15px 15px 15px 15px
    //margin 8px 10px 8px 10px
    position relative
    //border-radius 0.25em
    //box-shadow 1px 2px 2px 0px rgba(0,0,0,0.25)
    //border-left 5px solid #e3e3e3

.databox_list_menu.x-item-selected
    //background  #E8E8E8
    border-bottom 2px solid #CD7054
    border-left 5px solid #F08080
    
.databox_list_menu:hover 
    background none repeat scroll 0 0 #eceff5
    cursor pointer  
    

.databox_menu_bx
    font-family 'Varela Round', sans-serif
    font-size 15px
    font-weight bold
    width 30px
    height 30px
    margin-top 0px
    display inline-block
    position absolute
    top 4px
    left 10px
    padding 8px 5px 5px 8px
    //background  #F08080
    color #fff
    
.databox_menu_line
    display inline-block
    
.databox_menu_bar
    padding-bottom 4px
    
.databox_menu_title_first
    font-family Arial, Helvetica, sans-serif
    color #7F7D7D
    //font-weight bold
    padding 8px 1px 2px 8px
    margin 0px 10px 0px 10px
    //margin-top 4px
    font-size 11px 
    border-bottom 1px solid #DBDBDB
    span
        display inline-block
        padding 2px

.databox_menu_title
    font-family Arial, Helvetica, sans-serif
    font-weight bold
    margin-left 35px
    //margin-top 4px
    font-size 11px 
    span
        display inline-block
        padding 2px
        
.icon_default
    background transparent url('/images/menu/logo_default.png') 0 0 no-repeat !important  
    height 30px
    width 30px
    
.icon_upload
    background transparent url('/images/icon/upload.png') 0 0 no-repeat !important  
    height 30px
    width 30px
    
.icon_box
    background transparent url('/images/icon/if_box-open_173165.png') 0 0 no-repeat !important  
    height 32px
    width 32px