@import 'nib'

.ue-panelS
    background-color white
    border 2px solid #696969
    margin 2px 2px 2px 2px
    box-shadow 2px 2px 2px 0px rgba(0,0,0,0.25)
    padding-bottom 2px 

    .separator
        border-bottom 1px solid #D3D3D3
        margin 2px 5px 5px

    header
        padding 2px
        position relative
        
        .logo
            background-color #696969
            height 36px
            left 0
            position absolute
            text-align center
            top 0
            width 36px

            span
                color white
                display block
                font-size 15px
                font-weight bold
                margin-top 25%

        .title
            font-family Arial, Helvetica, sans-serif
            font-size 15px
            font-weight bold
            margin-left 42px
            margin-top 8px

        .legend
            font-size 11px
            margin-left 42px

    section
        .item
            margin 1px 5px

.ue-uppercase
    text-transform uppercase
