@import 'nib'

.astyle
   border-color #73B2C9 !important   
   
.bstyle
   border-color #818181 !important
   
.pdatabox_list_transport_select
    background white_fondo !important
    margin 4px 4px 8px 4px
    border-radius 0.25em
    box-shadow 1px 2px 2px 0.5px rgba(0,0,0,0.25)

.pdatabox_list_transport 
    background #fff
    font-size 13px
    color #333
    border-bottom 1px solid #e3e3e3
    padding 5px
    border-radius 0.25em
    height 105px    

.pdatabox_resume_transport
  	float left
	height 105px
	width 240px
	border-right 1px solid #BDBCBC   

.pdatabox_user_transport
    font-family Arial, Helvetica, sans-serif
    font-size 10px 
    color #708090
    font-weight bold
    span
        display inline-block
        padding-left 18px
        padding-bottom 4px
    .pdbx_user
        color #708092
        padding-left 2px

.pdatabox_resum_content
	display inline-block
	width 50%
	height 100%
	
.pdatabox_aling_r
	float left	 

.pbox_img
	//display inline-block
	float left
	width 30px
	height 30px
	margin 2px

.pdatabox_placa_transport
    font-size 11px 

.pdatabox_progress
	clear both
	height 10px
	width 100px

.pdatabox_cell,
    font-family Arial, Helvetica, sans-serif
    font-weight bold
    margin-left 1px
    margin-top 4px
    //display inline-block
    float left
    span
        display inline-block
        padding 2px
        
.pdatabox_pie_chart_stl
	display inline-block
	width 40%        

.pdatabox_battery_transport
	display inline-block
	width 10%
	height 25px
	float right
	font-size 0.335em

.pbattery_box
	width 10px
	
.pbattery_text
	font-size 8px
	margin-left 5px	

.pbattery_none,
.pbattery_0,
.pbattery_1,
.pbattery_2,
.pbattery_3,
.pbattery_4,
.pbattery_5,
.pbattery_6,
.pbattery_7,
.pbattery_8
	height 3.8em
	width 2.2em
	background-color transparent
	box-sizing border-box
	border .3em #000 solid
	float left
	display block
	margin-left 2.4em
 
.pbattery_none::before,
.pbattery_0::before,
.pbattery_1::before,
.pbattery_2::before,
.pbattery_3::before,
.pbattery_4::before,
.pbattery_5::before,
.pbattery_6::before,
.pbattery_7::before,
.pbattery_8::before
  	content ""
  	height .4em
  	width 1em
  	background-color #000
  	position absolute
  	margin-top -.7em
  	margin-left .3em

.pbattery_none::before,
.pbattery_0::after,
.pbattery_1::after,
.pbattery_2::after,
.pbattery_3::after,
.pbattery_4::after,
.pbattery_5::after,
.pbattery_6::after,
.pbattery_7::after,
.pbattery_8::after 
  	content ""
  	background-color #000
  	width 1.2em
  	position absolute
  	margin-left .2em

.pbattery_none::after 
  	height 2.8em
  	margin-top .2em
  	background linear-gradient(113deg, rgb(235, 106, 66) 0%, rgb(235, 106, 66) 46%, rgb(85, 85, 87) 46%, rgb(85, 85, 87) 54%, rgb(235, 106, 66) 54%, rgb(235, 106, 66) 100%)

.pbattery_0::after
    height 0em
    margin-top 0em
    
.pbattery_1::after
  	height .3em
  	margin-top 2.7em
  	background-color rgb(235, 106, 66)

.pbattery_2::after 
  	height .6em
  	margin-top 2.4em

.pbattery_3::after
  	height 1em
  	margin-top 2em

.pbattery_4::after
  	height 1.6em
  	margin-top 1.4em

.pbattery_5::after
  	height 1.9em
  	margin-top 1.1em

.pbattery_6::after
  	height 2.5em
  	margin-top 0.5em

.pbattery_7::after
  	height 2.8em
  	margin-top 0.2em
  	
.pbattery_8::after 
    height 2.8em
    margin-top .2em
    background linear-gradient(113deg, rgb(62, 146, 6) 0%, rgb(62, 146, 6) 46%, rgb(62, 146, 6) 46%, rgb(62, 146, 6) 54%, rgb(62, 146, 6) 54%, rgb(62, 146, 6) 100%)

.pbattery:first-child  
	margin-left 0 	

.pcountTransport
  	font-size 17px
  	margin 10px 0px 0px 5px
 	font-weight bolder

.pdatabox_time_transport
  	overflow hidden
	height 105px
  	width 100% 
  	margin-left 2px

.pstyleTimeLine
  	margin 3px  
  	left 20px   
  	
.pdatabox_api_resumen
	height 100%
	width 100%  	