@import 'nib'

.ftp-procesar-link
    padding-right 6px
.ftp-procesar-directory
    background-image: url('/images/icon/directory.png') !important;

.-webkit-user-select
	width 5px
  	height: 5px

.gt-tpl-box
    background-color white
    border 2px solid #C0C0C0
    padding-top 10px
    padding-right 20px
    padding-bottom 10px
    padding-left 20px
   	align center

	.gt-tpl-1        
		font-size 15px
		text-align center	
		color #1994C9	
		text-decoration underline	
	.gt-tpl-2        
		font-size 30px
		text-align center
		//color blue
	.gt-tpl-3        
		font-size 10px
		text-align justify	
		
.x-accordion-hd

	//background #1A1919   !important;
	//background -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#FECCB1),color-stop(50%,#F17432),color-stop(51%,#EA5507),color-stop(100%,#FB955E)) !important;	
	//background -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#4C4C4C),color-stop(12%,#595959),color-stop(25%,#666666),color-stop(39%,#474747),color-stop(45%,#2C2C2C), color-stop(56%,#000000), color-stop(60%,#111111), color-stop(76%,#2B2B2B), color-stop(91%,#1C1C1C), color-stop(100%,#131313)) !important;	
	//background linear-gradient(top, white, black)  !important
	background #959595 !important
	background -moz-linear-gradient(top,  #959595 0%, #a3a3a3 32%, #383838 83%, #383838 100%, #545454 100%, #9e9e9e 100%, #1b1b1b 100%)  !important
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959595), color-stop(32%,#a3a3a3), color-stop(83%,#383838), color-stop(100%,#383838), color-stop(100%,#545454), color-stop(100%,#9e9e9e), color-stop(100%,#1b1b1b))  !important
	background -webkit-linear-gradient(top,  #959595 0%,#a3a3a3 32%,#383838 83%,#383838 100%,#545454 100%,#9e9e9e 100%,#1b1b1b 100%)  !important
	//background -o-linear-gradient(top,  #959595 0%,#a3a3a3 32%,#383838 83%,#383838 100%,#545454 100%,#9e9e9e 100%,#1b1b1b 100%)  !important
	//background -ms-linear-gradient(top,  #959595 0%,#a3a3a3 32%,#383838 83%,#383838 100%,#545454 100%,#9e9e9e 100%,#1b1b1b 100%)  !important
	background linear-gradient(to bottom,  #959595 0%,#a3a3a3 32%,#383838 83%,#383838 100%,#545454 100%,#9e9e9e 100%,#1b1b1b 100%)  !important
	font-size 20
	border-radius 4px
	.x-title-text
		color white
	.x-toolbar-default
	    background-image none
	    background-color white
	    background-image linear-gradient(top,#FFFFFF,#FFFFFF)
	.x-panel-body
		border 1px   
	.x-panel-header-default	
		background #959595 !important
		background -moz-linear-gradient(top,  #959595 0%, #a3a3a3 32%, #383838 83%, #383838 100%, #545454 100%, #9e9e9e 100%, #1b1b1b 100%)  !important
		background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959595), color-stop(32%,#a3a3a3), color-stop(83%,#383838), color-stop(100%,#383838), color-stop(100%,#545454), color-stop(100%,#9e9e9e), color-stop(100%,#1b1b1b))  !important
		background -webkit-linear-gradient(top,  #959595 0%,#a3a3a3 32%,#383838 83%,#383838 100%,#545454 100%,#9e9e9e 100%,#1b1b1b 100%)  !important
	//	background -o-linear-gradient(top,  #959595 0%,#a3a3a3 32%,#383838 83%,#383838 100%,#545454 100%,#9e9e9e 100%,#1b1b1b 100%)  !important
		//background -ms-linear-gradient(top,  #959595 0%,#a3a3a3 32%,#383838 83%,#383838 100%,#545454 100%,#9e9e9e 100%,#1b1b1b 100%)  !important
		background linear-gradient(to bottom,  #959595 0%,#a3a3a3 32%,#383838 83%,#383838 100%,#545454 100%,#9e9e9e 100%,#1b1b1b 100%)  !important
		

.p_bar-blue	.x-progress-bar-default	
	background #6DB3F2
	background -moz-linear-gradient(top,#6DB3F2 0%,#54A3EE 50%,#3690F0 51%,#1E69DE 100%) 
	background -webkit-gradient(linear,left top,left bottom,color-stop(0%,#6DB3F2),color-stop(50%,#54A3EE),color-stop(51%,#3690F0),color-stop(100%,#1E69DE))
	background -webkit-linear-gradient(top,#6DB3F2 0%,#54A3EE 50%,#3690F0 51%,#1E69DE 100%)
	//background -o-linear-gradient(top,#6DB3F2 0%,#54A3EE 50%,#3690F0 51%,#1E69DE 100%)
	//background -ms-linear-gradient(top,#6DB3F2 0%,#54A3EE 50%,#3690F0 51%,#1E69DE 100%)
	background linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%)

.p.bar-red .x-progress-bar-default	
	background #f85032
	background -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%)
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827))
	background -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%)
	//background -o-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%)
	//background -ms-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%)
	background linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%)

.p_bar-orange .x-progress-bar-default		
	background #feccb1
	background -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%)
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e))
	background -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%)
	//background -o-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%)
	//background -ms-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%)
	background linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%)
	
.p_bar-green .x-progress-bar-default				
	background #bfd255
	background -moz-linear-gradient(top,#bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%)
	background -webkit-gradient(linear,left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d))
	background -webkit-linear-gradient(top,#bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%)
	//background -o-linear-gradient(top,#bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%)
	//background -ms-linear-gradient(top,#bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%)
	background linear-gradient(to bottom,#bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%)
		
.row-error 
	.x-grid-cell 
    	background-color #D8D8D8

.popup_show
    .x-window-body-default
    	border-width 0
	.x-window-default
   		padding 0 0 0 0
   		border-width 0px

.x-color-top
	background #959595 !important
	background -moz-linear-gradient(top,  #959595 0%, #a3a3a3 32%, #383838 83%, #383838 100%, #545454 100%, #9e9e9e 100%, #1b1b1b 100%)  !important
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959595), color-stop(32%,#a3a3a3), color-stop(83%,#383838), color-stop(100%,#383838), color-stop(100%,#545454), color-stop(100%,#9e9e9e), color-stop(100%,#1b1b1b))  !important
	background -webkit-linear-gradient(top,  #959595 0%,#a3a3a3 32%,#383838 83%,#383838 100%,#545454 100%,#9e9e9e 100%,#1b1b1b 100%)  !important
	background linear-gradient(to bottom,  #959595 0%,#a3a3a3 32%,#383838 83%,#383838 100%,#545454 100%,#9e9e9e 100%,#1b1b1b 100%)  !important
	
.grid-shadow
	-webkit-box-shadow: 8px 8px 19px 0px rgba(50, 50, 50, 0.86);
	-moz-box-shadow:    8px 8px 19px 0px rgba(50, 50, 50, 0.86);
	box-shadow:         8px 8px 19px 0px rgba(50, 50, 50, 0.86);	
	
.x-link
	color #0063DC
	font-weight bold
	//text-decoration none
.x-form-text
	display inline

