@import 'nib'

gris_claro = #818181
gris_fondo = #3d4044
gris_oscuro = #333333
green_status = #16a765
blue_status = #12aadf
red_fondo = #E43131
blue_griss = #59789C

.contetDiv
	position fixed
	right 15px
	top 115px
	z-index 11
	div 
		opacity 0.8
		margin-top 5px
		//padding 5px
		font-size 20px

.contetDivA
	background blue_griss
	height 40px
	width  50px

.contetDivB
	background blue_griss
	height 40px
	width  50px
	
.contetDivB_sub
	background red_fondo
	height 62px
	width  50px
	
.contetDivC
	background blue_griss
	height 40px
	width  50px
	

.panelDiv
	opacity 0.6
	width 200px
	height 230px
	background gris_oscuro
	position fixed
	right 70px
	top 130px
	z-index 10
	padding 8px
	margin 5px
	span
		color #fff
		margin-top 2px
	p 
		margin-top 2px
.panelDivTiempo
	opacity 0.6
	width 200px
	height 30px
	position fixed
	right 75px
	top 100px
	z-index 10
	
.clsRec
	width 200px
	height 30px
	
.clskm
	background blue_griss
	
.clsdur
	background red_fondo
	
.clsdur,
.clskm
	width 100px
	height 30px
	color #fff
	font-size 16px
	//font-family 'Varela Round', sans-serif
	font-weight bold
	text-align center
	
	
#g_transporte-win-sol
	//opacity 0.8
