
/**
 * Geekode php (http://geekode.net/)
 * @link    https://github.com/hawkapparel
 * @author  Christian Tamayo
 * @version 1.0
 */

@import 'nib'

.side-right
    float right
    margin-right 30px

.side-text-right
    text-align right

.tabpanel-controlpeso
    .x-tab-bar-top
        .x-tab-bar-strip-default
            height: 0px

.side-text-center-title
    text-align center
    font-size 16px
    font-weight bold
    text-decoration underline

.field-non-border
    .x-form-text-field-body-default
        .x-form-trigger-wrap
            .x-form-text-wrap-default
                border none
                .x-form-text-default
                    background-color #fff
                    background-image none
                    padding-top 2px
            
.separator-line
    background-color #b5b8c8
    height 1px
    margin 0 auto 

.float-left
    float left
    
.bold
    .x-form-item-label
        .x-form-item-label-inner
            font-weight bold

.single-bold
    font-weight bold