@font-face{font-family:'Varela Round';font-style:normal;font-weight:400;src:local('Varela Round'),local('VarelaRound-Regular'),url("/fonts/APH4jr0uSos5wiut5cpjrugdm0LZdjqr5-oayXSOefg.woff2") format('woff2'),url("/fonts/APH4jr0uSos5wiut5cpjrnhCUOGz7vYGh680lGh-uXM.woff") format('woff')}
@font-face{font-family:'weburbano';src:url("/fonts/weburbano.eot?-kqi2pm");src:url("/fonts/weburbano.eot?#iefix-kqi2pm") format('embedded-opentype'),url("/fonts/weburbano.woff?-kqi2pm") format('woff'),url("/fonts/weburbano.ttf?-kqi2pm") format('truetype'),url("/fonts/weburbano.svg?-kqi2pm#weburbano") format('svg');font-weight:normal;font-style:normal}
[class^="icon-"],[class*=" icon-"]{font-family:'weburbano';font-style:normal;font-variant:normal;font-weight:normal;line-height:1;speak:none;text-transform:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-file:before{content:"\e60d"}
.icon-print:before{content:"\e607"}
.icon-upload:before{content:"\e605"}
.icon-pie:before{content:"\e60a"}
.icon-bars:before{content:"\e60b"}
.icon-bars2:before{content:"\e60c"}
.icon-signup:before{content:"\e602"}
.icon-list:before{content:"\e608"}
.icon-bookmark:before{content:"\e609"}
.icon-info:before{content:"\e606"}
.icon-close:before{content:"\e60e"}
.icon-warning:before{content:"\e601"}
.icon-location:before{content:"\e603"}
.icon-delete:before{content:"\e604"}
.icon-logo_urbano:before{content:"\e600"}
.icon-exclamation-circle:before{content:"\f06a"}
.icon-angle-down:before{content:"\f107"}
.icon-circle:before{content:"\f111"}
